* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

a, .link {
    text-decoration: none;
    color: #ca2bed;
    font-weight: bold;
    cursor: pointer;
}

.carte {
    max-height: 100%;
}

.carte .flashing-color-is-active *, .carte .flashing-color-is-active{
    fill: #555;
}

.infos {
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-size: 1.3em;
    padding-left: 0.75em;
    border-left: 1px solid #555;
}

.infos h2, .infos h1 {
    margin: 1em auto 0;
    width: fit-content;
}

.infos .default h2 {
    margin-bottom: 2em;
}

.infos .default .links {
  width: fit-content;
  margin: 5em auto 0 3em;
}

.infos h2 span {
    margin-left: 0.75em;
    font-weight: 100;
    font-size: 0.8em;
}

.infos .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em 1em 1em 0;
    gap: 0.5em;
}

.infos .images img {
    width: auto;
    max-width: 100%;
    flex-grow: +1;
    height: 25vh;
    object-fit: cover;
    border-radius: 0.1em;
}

.infos a.see-more-images-btn {
    padding-bottom: 1em;
}

.infos .buttons-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1em
}

.infos .default p {
    margin-top: 1em;
    color: #888;
}

.quizz-bar p {
    color: #33c8ac;
    font-size: 1.7em;
    margin: auto;
    width: fit-content;
    text-align: center;
    order: 1;
    padding: 0 0.7em;
    font-weight: bold;
}

.quizz-bar {
    position: fixed;
    background: #222;
    box-shadow: 0 -1px 24px 0px #555;
    height: 2em;
    width: 100vw;
    margin-top: -7.5vh;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
}

.quizz-close {
    border: 2px solid #ccc;
    height: 85%;
    width: fit-content;
    cursor: pointer;
    margin: auto 0;
    order: 2;
    margin-right: 3px;
    border-radius: 10%;
}

.quizz-close:hover {
    background: #555;
}

.quizz-close div {
    width: 3em;
    height: 2px;
    background: #ccc;
    transform: translateX(-50%) rotate(45deg);
    top: 50%;
    left: 50%;
    position: relative;
    margin-top: -1px;
}

.quizz-close div:last-child {
    transform: translateX(-50%) rotate(-45deg);
}


.quizz-bar .score {
  margin: auto 0 auto 0.75em;
  color: #bbb;
  letter-spacing: 3px;
}


.carte svg {
  max-height: calc(100% - 3em);
  margin: 1.5em 1em 1em;
}
body.quizz-mode {
  margin-top: 7.5vh;
  max-height: 92.5vh;
}

path.departement {
    cursor: pointer;
}

path.departement:hover {
    fill: #ddd;
}

path.departement.active {
    fill: #aaa;
}

span.mode-switcher {
    display: unset;
    position: absolute;
    bottom: 3em;
    left: 2em;
    padding: 1em;
    border: 3px solid #6668;
    border-radius: 3em;
    color: #666;
    background: #ffffffaa;
    cursor: pointer;
}

span.mode-switcher:hover {
    background: #b7821d66;
    color: #333c;
    border: 3px solid #3338;
}

span.mode-switcher.active {
    background: #b7821daa;
    color: #333;
    border: 3px solid #333c;
}

@keyframes notif {
    0% {
        opacity: 0;
        right: 0%;
    }
    15%, 85% {
        opacity: 1;
        transform: translateX(50%);
        right: 50%;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
        right: 100%;
    }
}

.notification {
    position: absolute;
    top: 2.5em;
    font-size: 1.4em;
    padding: 0.75em;
    border-radius: 0.6em;
    font-weight: bold;
    background: #fffe;
    width: 12em;
    text-align: center;
    animation: notif 2s ease-in-out infinite;
}

.notification.success {
    background: #2aaa2aee;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .carte svg{
        width: 500px;
    }

    @media screen and (max-width: 1000px) {
        .carte svg{
            width: 400px;
        }
        @media screen and (max-width: 900px) {
            body {
                flex-direction: column;
            }
            
            .carte {
                height: 81vh;
            }

            .carte svg {
                width: calc(100% - 2em);
                height: auto;
                margin: auto;
                margin: 2em 1em 1em;
            }

            .carte .mode-switcher {
                position: initial;
                margin: 1em;
            }

            .infos {
                max-height: unset;
                overflow-y: unset;
                margin: 2em 0 0;
                padding: 0;
                border-left: none;
                max-width: 100%;
            }

            .infos h2, .infos h1{
                margin: 0;
            }

            .infos .images img {
                margin: 0;
            }
            
            .infos .images {
                margin: 2em 0.5em 1em 0.5em;
            }
            
            body .infos * {
                margin-left: 5px;
                margin-right: 5px;
            }
            
            .quizz-bar p {
                font-size: 1.2em;
            }

            @media (max-width: 650px) {
                .infos {
                    margin: 1em 0 0;
                }
            
                @media screen and (max-width: 400px) {
                    .carte .mode-switcher {
                        font-size: 0.75em;
                        margin: 1em;
                    }
                }
            }
        }
    }
}

.show {
    display: unset!important;
}

.hide {
    display : none!important;
}