* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(202, 43, 237);
    font-weight: bold;
}

.carte {
    margin: 1em 2em;
}

.carte .clignotement-on *, .carte .clignotement-on{
    fill: #555;
}

.infos {
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    overflow-y: scroll;
    font-size: 1.3em;
    padding-left: 0.75em;
    border-left: 1px solid #555;
}

.infos h2, .infos h1 {
    margin: 1em auto 0;
    width: fit-content;
}

.infos h2 span {
    margin-left: 0.75em;
    font-weight: 100;
    font-size: 0.8em;
}

.infos .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em 1em 1em 0;
    gap: 0.5em;
}

.infos .images img {
    width: auto;
    max-width: 100%;
    flex-grow: +1;
    height: 25vh;
    object-fit: cover;
    border-radius: 0.1em;
}

.infos a.voir-plus-images {
    padding-bottom: 1em;
}

.infos .buttons-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1em
}

.infos .default p {
    margin-top: 1em;
    color: #888;
}

.quizz-bar p {
    color: #cc9c19;
    font-size: 1.3em;
    margin: auto;
    width: fit-content;
    text-align: center;
}

.quizz-bar {
    position: fixed;
    background: #fff;
    box-shadow: 0 -2px 13px 3px #bbb;
    height: 2em;
    width: 100vw;
    margin-top: -3em;
    height: 3em;
    display: flex;
    flex-direction: row;
}

.quizz-close {
    border: 1px solid #aaa;
    height: 90%;
    width: fit-content;
    cursor: pointer;
    margin: auto 2px auto 0;
    order: 2;
}

.quizz-close div {
    width: 3em;
    height: 2px;
    background: #aaa;
    transform: translateX(-50%) rotate(45deg);
    top: 50%;
    left: 50%;
    position: relative;
    margin-top: -1px;
}

.quizz-close div:last-child {
    transform: translateX(-50%) rotate(-45deg);
}

.infos .default p:nth-child(3n) {
    margin-top: 3em;
    color: #000;
}

span.description {
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 0.1em;
    border: 1px solid #555;
    z-index: 1;
    font-size: 0.8em;
    font-weight: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

path.departement {
    cursor: pointer;
}

path.departement:hover {
    fill: #ddd;
}

path.departement.active {
    fill: #aaa;
}

span.mode-switcher {
    display: unset;
    position: absolute;
    bottom: 3em;
    left: 2em;
    padding: 1em;
    border: 3px solid #6668;
    border-radius: 3em;
    color: #666;
    background: #ffffffaa;
    cursor: pointer;
}

span.mode-switcher:hover {
    background: #b7821d66;
    color: #333c;
    border: 3px solid #3338;
}

span.mode-switcher.active {
    background: #b7821daa;
    color: #333;
    border: 3px solid #333c;
}

@keyframes notif {
    0% {
        opacity: 0;
        right: 0%;
    }
    15%, 85% {
        opacity: 1;
        transform: translateX(50%);
        right: 50%;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
        right: 100%;
    }
}

.notification {
    position: absolute;
    top: 1.5em;
    font-size: 1.4em;
    padding: 0.75em;
    border-radius: 0.6em;
    font-weight: bold;
    background: #fffe;
    width: 12em;
    text-align: center;

    animation: notif 2s ease-in-out infinite;
}

.notification.success {
    background: #2aaa2aee;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .carte svg{
        width: 500px;
    }

    @media screen and (max-width: 1000px) {
        .carte svg{
            width: 400px;
        }
        @media screen and (max-width: 900px) {
            body {
                flex-direction: column;
            }

            .carte svg {
                width: 95%;
                height: auto;
                margin: auto;
            }

            .carte .mode-switcher {
                position: initial;
            }

            .infos {
                max-height: unset;
                overflow-y: unset;
                margin: 1em 5px 0;
                padding: 0;
                border-left: none;
            }

            .infos h2, .infos h1{
                margin: 0;
            }

            .infos .images img {
                margin: 0;
            }

            @media screen and (max-width: 400px) {
                .carte .mode-switcher {
                    font-size: 0.75em;
                }
            }

        }
    }
}

.show {
    display: unset!important;
}

.hide {
    display : none!important;
}